server:
  port: 8080
spring:
  application:
    name: PandaID
  profiles:
    active: dev
  cache:
    cache-names: pandaApp
    type: redis
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${mysql.addr}/pandaid?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC&rewriteBatchedStatements=true
    username: ${mysql.username}
    password: ${mysql.password}
    # 数据库连接池配置
    hikari:
      minimum-idle: 5 # 最小连接数
      maximum-pool-size: 10 # CPU核数*2 + 有效磁盘数
      connection-timeout: 30000 # 连接超时时间
      idle-timeout: 600000 # 连接空闲超时时间
      max-lifetime: 1800000 # 连接最大存活时间
      register-mbeans: true
  data:
    redis:
      host: ${redis.addr}
      port: ${redis.port}
      database: ${redis.database}
      timeout: 3000
      lettuce:
        pool:
          enabled: true
          max-idle: 8    # 最大空闲连接数
          min-idle: 1    # 最小空闲连接数
          max-active: 8  # 最大活跃连接数
mybatis-plus:
  global-config:  # 全局设置
    banner: false  # 关闭banner
    db-config:
      id-type: auto  # 主键类型 - 递增
      logic-delete-field: deleted  # 逻辑删除字段
      logic-delete-value: true   # 逻辑删除值（已删除）
      logic-not-delete-value: false  # 逻辑未删除值（未删除）
      update-strategy: not_null  # 更新策略 - 非null
  type-aliases-package: me.lhy.pandaid.po
  mapper-locations: classpath*:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /api-docs
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn